docker.enabled = true
conda.enabled = false

process {
  executor = 'local'
  memory = 1.GB
  withName: 'cowsay' {
    memory = { 2.GB * task.attempt }
    cpus = 2
  }

  resourceLimits = [
    memory: 750.GB,
    cpus: 200,
    time: 30.d
  ]

}

profiles {
  my_laptop {
    process.executor = 'local'
    docker.enabled = true
  }
  univ_hpc {
    process.executor = 'slurm'
    conda.enabled = true
    process.resourceLimits = [
      memory: 750.GB,
      cpus: 200,
      time: 30.d
    ]
  }
  test {
    params.greetings = 'greetings.csv'
    params.batch = 'myprofile'
    params.character = 'tux'
  }
}
